<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title | strip_html }} | {{ site.name }}</title>
        {% if site.links.github %}
          <meta name="author" content="{{ site.links.github }}">
        {% endif %}
        <link href="/fonts/fonts.css" rel='stylesheet' type='text/css'>
        <meta name="title" content="{{ page.title }}" >
        <link rel="icon" type="image/png" href="{{site.url}}/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include ssn.html %}
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="wrap">
      <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please change for <a href="firefox.org">Firefox</a> to improve your experience.</p>
      <![endif]-->
      {% include header.html %}
      <section class="content">
        {{ content }}
      </section>
      {% include footer.html %}
      {% if site.ga_id %}
        {% include analytics.html %}
      {% endif %}
      <script src="/js/script.js"></script>
      <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </body>
</html>
